.home{
    background-color:var(--main-color);
    flex-direction: row;
    position: relative;
    width: 100%;
   
    .home_sidebar{
        display: none;
        @media  screen and (max-width:790px) {
            display: block;
            width: max-content;
            z-index: 999999999999999;
        }
    }
    .home_main{
      
        .nav:nth-child(1){
            @media screen and (max-width:760px) {
                display: none;
            }
        }
    }
}

